.toggle {
    max-width: 3.25rem;
    margin-bottom: 16px;
}

.toggle__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    opacity: 0;
}

.toggle__label {
    margin-left: 80px;
}

.toggle__state {
    cursor: pointer;
    position: relative;
}

.toggle__state::after {
    content: '';
    width: 52px;
    height: 28px;
    background-color: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 15px;
    position: absolute;
    top: -4px;
    right: -62px;
}

.toggle__state::before {
    content: '';
    height: 24px;
    width: 24px;
    background-color: var(--grey-2);
    border-radius: 50%;
    position: absolute;
    right: -35px;
    top: -1px;
    z-index: 1;
    transition-duration: 400ms;
}

.toggle__input:checked + .toggle__state::before {
    right: -58px;
    background-color: var(--white);
}

.toggle__input:checked + .toggle__state::after {
    background-color: var(--blue-1);
    border: 1px solid var(--blue-1);
}

.toggle__input[disabled] ~ .toggle__state::before {
    background: var(--grey-3);
    opacity: 0.5;
}

.toggle__input[disabled] ~ .toggle__state::after {
    background: var(--grey-2);
}

.toggle__input[disabled] + .toggle__state {
    cursor: default;
    pointer-events: none;
}


