.avatar {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.avatar__body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    overflow: hidden;
}
  
.avatar__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
