html[data-theme-dark] .header,
html[data-theme-dark] .card,
html[data-theme-dark] .footer,
html[data-theme-dark] .template__footer {
    background: var(--black);
}

html[data-theme-dark] .template__menu-link:hover {
    color: var(--hover-1);
}

html[data-theme-dark] .calendar__item_between-active {
    background: var(--white);
}

html[data-theme-dark] .header__svg,
html[data-theme-dark] .tooltip__svg,
html[data-theme-dark] .modal__svg {
    fill: var(--white);
}

html[data-theme-dark] .button_alternate {
    border: 1px solid var(--white);
    background: var(--grey-4);
    color: var(--grey-3);
}

html[data-theme-dark] .button_alternate:hover {
    border: 1px solid var(--black);
}


html[data-theme-dark] .modal_preview .modal__window {
    background: var(--black);
}

html[data-theme-dark] .checkbox__control_bg-grey,
html[data-theme-dark] .radio__control_bg-grey {
    background: var(--grey-4);
}

html[data-theme-dark] .checkbox__svg {
    stroke: var(--black);
}

html[data-theme-dark] .checkbox__svg_bg-gr-4 {
    stroke: var(--grey-4);
}

html[data-theme-dark] .histogram,
html[data-theme-dark] .template__component {
    background: var(--black);
}

html[data-theme-dark] .checkbox__control_bg-black,
html[data-theme-dark] .radio__control_bg-black {
    background: var(--black);
    border: 1px solid var(--white);
}

html[data-theme-dark] .header__title,
html[data-theme-dark] .footer__info,
html[data-theme-dark] .footer__title,
html[data-theme-dark] .calendar__title,
html[data-theme-dark] .card__footer,
html[data-theme-dark] .histogram__orders,
html[data-theme-dark] .histogram__link,
html[data-theme-dark] .modal__title,
html[data-theme-dark] .card__buttons-name,
html[data-theme-dark] .template__code,
html[data-theme-dark] .template__menu-link,
html[data-theme-dark] .template__menu-title {
    color: var(--grey-3);
}

html[data-theme-dark] .calendar__item,
html[data-theme-dark] .histogram__total {
    color: var(--white);
}

html[data-theme-dark] .tabs__input_1:checked ~ .tabs__menu label[for="tab-btn-1"],
html[data-theme-dark] .tabs__input_2:checked ~ .tabs__menu label[for="tab-btn-2"],
html[data-theme-dark] .tabs__input_3:checked ~ .tabs__menu label[for="tab-btn-3"],
html[data-theme-dark] .tabs__input_4:checked ~ .tabs__menu label[for="tab-btn-4"],
html[data-theme-dark] .template__input_1:checked ~ .template__nav label[for="tab1"],
html[data-theme-dark] .template__input_2:checked ~ .template__nav label[for="tab2"] {
    color: var(--white);
    padding-bottom: 3px;
    border-bottom: 5px solid var(--white);
}

html[data-theme-dark] .tabs__item:hover,
html[data-theme-dark] .template__item:hover {
    color: var(--white);
    padding-bottom: 3px;
    border-bottom: 5px solid var(--white);
}


html[data-theme-dark] .preview,
html[data-theme-dark] .template {
    background: var(--grey-4);
}


html[data-theme-dark] .form-group__input-wrapper .form-group__input {
    background: var(--black);
}

html[data-theme-dark] .accordion__item {
    background: var(--black);
    color: var(--grey-3);
}

html[data-theme-dark] .checkbox__label,
html[data-theme-dark] .toggle__label,
html[data-theme-dark] .radio__label {
    color: var(--grey-2)
}

html[data-theme-dark] .toggle__state {
    background: var(--grey-4);
    border: 1px solid var(--white);
}

