.preview {
    background: var(--preview-bg);
    flex-grow: 1;
}

.preview__grid {
    display: grid;
    grid-template-columns: repeat(3, calc(33.3333% - 15px));
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 1.5rem 0;
}

.preview__grid-2 {
    display: grid;
    grid-template-columns: repeat(3, calc(33.3333% - 15px));
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 30px;
    margin: 1.5rem 0;
}

@media all and (max-width: 767px) {
    .preview__grid {
        display: grid;
        grid-template-columns: repeat(1, calc(100% - 15px));
    }
    .preview__grid-2 {
        display: grid;
        grid-template-columns: repeat(1, calc(100% - 15px));
    }
}