.form {
    margin-bottom: 1rem;
}

.form__label {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}

.form__input > input {
    width: 100%;
    max-width: 350px;
    height: 56px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-4);
    padding-left: 24px;
}

input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-2);
}

.form__input > input:focus {
    border-color: var(--blue-1);
    outline: none;
}

.form_success,
.form_invalid {
    position: relative;
}

.form__icon_success,
.form__icon_invalid {
    position: absolute;
    left: 312px;
    top: 50%;
    transform: translate(0, -50%);
}

.form_invalid > input {
    border-color: var(--error);
    outline: none;
}

.form__input > input[disabled] {
    background: var(--grey-2);
    opacity: 0.5;
}